name: "Nix Flake CI"

on:
  pull_request:
  push:

jobs:
  build-packages-home:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Setup Nix with Cache
        uses: ./.github/actions/setup-nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_endpoint: ${{ secrets.ATTIC_ENDPOINT }}
      - name: Build and Push Packages and Home Configuration
        run: |
          build_and_push() {
            nix run github:Mic92/nix-fast-build -- \
              --skip-cached \
              --attic-cache public \
              --flake "$1"
          }
          
          build_and_push ".#packages.x86_64-linux.naiveproxy"
          build_and_push ".#packages.x86_64-linux.caddy-naive"
          build_and_push ".#homeConfigurations.kyaru.activation-script"
      - name: Check Flake
        run: nix flake check
          
  build-caon:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Setup Nix with Cache
        uses: ./.github/actions/setup-nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_endpoint: ${{ secrets.ATTIC_ENDPOINT }}
      - name: Build and Push Caon Configuration
        run: |
          nix run github:Mic92/nix-fast-build -- \
            --skip-cached \
            --flake ".#nixosConfigurations.caon.config.system.build.toplevel" \
            --attic-cache public

  build-elizabeth:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: Setup Nix with Cache
        uses: ./.github/actions/setup-nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          attic_token: ${{ secrets.ATTIC_TOKEN }}
          attic_endpoint: ${{ secrets.ATTIC_ENDPOINT }}
      - name: Build and Push Elizabeth Configuration
        run: |
          nix run github:Mic92/nix-fast-build -- \
            --skip-cached \
            --flake ".#nixosConfigurations.elizabeth.config.system.build.toplevel" \
            --attic-cache public
